{
    "presets": [
        ["env",
            {
                "modules": false,
                "targets": {
                    "browsers": [
                        ">1%",
                        "ie 11"
                    ]
                }
            }
        ]
    ],
    "plugins": [
        "transform-object-rest-spread"
    ]
}
